@{
    ViewData["Title"] = "dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-9 row">
        <div class="col-4 col align-items-center">
            <i class="fa fa-users fa-5x"></i>
            <span>Aantal leden toegevoegd</span>
            <span>4</span>
        </div>
        <div class="col-4 col align-items-center">
            <i class="fas fa-cocktail fa-5x"></i>
            <span>aantal diensten deze maand</span>
            <span>5</span>
        </div>
        <div class="col-4 col align-items-center">
            <i class="fas fa-stopwatch fa-5x"></i>
            <span>aantal open diensten deze maand</span>
            <span>5</span>
        </div>
    </div>

    <div class="col-3 col sidenav">
        <a asp-area="" asp-controller="User" asp-action="Import" class="btn">leden importeren</a>
        <a asp-area="" asp-controller="Shift" asp-action="Create" class="btn">Dienst</a>
        <a asp-area="" asp-controller="GenerateSchedule" asp-action="GenerateSchedule" class="btn">Rooster Genereren</a>
        <a asp-area="" asp-controller="Club" asp-action="Index" class="btn">Club</a>
        <a asp-area="" asp-controller="GenerateReport" asp-action="Index" class="btn">Rapport Genereren</a>
    </div>
</div>