@{
    ViewData["Title"] = "dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-9 row">
        <div class="col-4">
            <img width="100%" src="https://www.mathworks.com/help/examples/graphics/win64/OverlayBarGraphsExample_01.png">
        </div>
        <div class="col-4">
            <img width="100%" src="https://www.mathworks.com/help/examples/graphics/win64/OverlayBarGraphsExample_01.png">
        </div>
        <div class="col-4">
            <img width="100%" src="https://www.mathworks.com/help/examples/graphics/win64/OverlayBarGraphsExample_01.png">
        </div>
    </div>

    <div class="col-3">
        <div id="help">
            <a asp-area="" asp-controller="Shift" asp-action="Index"><div class="NavigatieItem">Dienst</div></a>
            <a asp-area="" asp-controller="GenerateSchedule" asp-action="GenerateSchedule"><div class="NavigatieItem">Rooster Genereren</div></a>
            <a asp-area="" asp-controller="Club" asp-action="Index"><div class="NavigatieItem">Club</div></a>
            <a asp-area="" asp-controller="GenerateReport" asp-action="Index"><div class="NavigatieItem">Rapport Genereren</div></a>
        </div>
    </div>
</div>