
@{
    ViewData["Title"] = "GenerateReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Rapport Genereren</h3>
<container class="generateReportFullBodyContainer">
    <div class="row generateReporFullBodyDivRow">
        <div class="col generateReporFullBodyDivItemsCol">
            <div class="row templateRow">

            </div>
            <form>
                <div class="itemsRow">
                    <div class="col-lg-2 SpecifierRB">
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="nameRadio" value="name" checked>
                            <label class="form-check-label specifierRadio" for="nameRadio">
                                Naam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="shiftDateRadio" value="shiftDate">
                            <label class="form-check-label specifierRadio" for="shiftDateRadio">
                                Datum dienst
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="ageRadio" value="age">
                            <label class="form-check-label specifierRadio" for="ageRadio">
                                Leeftijd
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="excusedAbsenceRadio" value="excusedAbsence">
                            <label class="form-check-label specifierRadio" for="excusedAbsenceRadio">
                                Verlof
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input specifierRadio" type="radio" name="specifierRadios" id="groupRadio" value="group">
                            <label class="form-check-label specifierRadio" for="groupRadio">
                                Groep
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 selectMember">
                        <div class="checkboxlist">
                            @{ 
                                var members = (List<MemberDTO>)ViewData["MemberList"];
                            }
                                @foreach (MemberDTO member in @members)
                                {
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">@member.Name</label>
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="col specifierEditor">
                        <h2>xxx</h2>
                    </div>
                    <div class="col selectTable">
                        <h2>xxx</h2>
                    </div>
                    <div class="col selectColumns">
                        <h2>xxx</h2>
                    </div>
                </div>
            </form>
        </div>
        <div class="col generateReporFullBodyDivHelpCol">
            <h2>xxx</h2>
        </div>

    </div>
</container>
