@model UserListViewModel
@{
    ViewData["Title"] = "Gebruiker overzicht";
}

<div class="row sb">
    <h2>Importeren</h2>
    <a asp-action="Import" class="btn add">Importeer leden</a>
</div>

<ul>
    @foreach (UserModel user in Model.Users)
    {
        <li class="row"> 
            <span>@user.LastName, @user.Initials @user.Name @user.Insertion</span>
        </li>
    }
</ul>